.weather-card-container {
	width: 70%;
	margin: 0 auto;
}

.weather-card-day {
	width: 100%;
	margin: 10px 0;
	height: 100px;
	border-radius: 15px;
	background-image: linear-gradient(
		to right top,
		#1992ff,
		#33a1ff,
		#4dafff,
		#66bcff,
		#80c9fe
	);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.weather-card-night {
	width: 100%;
	margin: 10px 0;
	height: 100px;
	border-radius: 15px;
	background-image: linear-gradient(
		to right top,
		#2560f9,
		#5562f3,
		#7064ec,
		#8466e6,
		#936ae0
	);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.weather-card-wrapper {
	padding: 16px 20px;
	display: flex;
	color: #fff;
	justify-content: space-between;
}

.details {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.info a {
	width: 24px;
	height: 24px;
	color: white;
	margin: 0
}

.buttons {
	display: flex;
	align-items: center;
}

.buttons > * {
	padding: 5px;
}

.refresh, .info, .delete {
	width: 34px;
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 3px;
	background: none;
	outline: none;
	border: none;
	color: white;
	cursor: pointer
}

.wheather {
	font-weight: 100;
}

.details-information {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.details-information .temp {
	font-size: 30px;
	font-weight: 500;
	padding: 0 5px;
}

.vertical-line {
	border-left: 1px solid #fff;
	height: 28px;
	margin: 10px 8px;
}

.information {
	display: flex;
	flex-direction: column;
	font-size: 13px;
	font-weight: 100;
	padding: 0 5px;
}
