.container {
	display: flex;
	justify-content: center;
	width: 80%;
    height: 100%;
}

.content {
	width: 100%;
	padding: 40px;
	display: flex;
	flex-direction: column;
    justify-content: center;
}

.search {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 24px;
    margin-bottom: 20px;
}

input {
    width: 40%;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
}
